
.class-container{
    height: fit-content;
}
.main-body{
    padding: 20px 200px;
}

.board-menu{
    width: inherit;
}

.board {
  margin-left: 370px;
}

@media screen and (min-width: 1024px){
    .board-menu{
        float: left;
    }
}
