body {
  padding: 0px;
  margin: 0;
  background-color: white;
}

.class-container {
  height: fit-content;
}
.main-body {
  margin: 20px 200px;
}

.board-menu {
  float: left;
}

.board {
  margin-left: 370px;
}
